<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Monster Slayer</title>
    <link rel="stylesheet" href="./styles.css">
    <script src="https://kit.fontawesome.com/84fccb38cf.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <script src="./app.js" defer></script>
</head>

<body>
    <header>
        <img src="./assets/torch.jpg" alt="A torch">
        <h1>The Monster Slayer</h1>
        <img src="./assets/torch.jpg" alt="A torch">
    </header>
    <main id="app">
        <health-status id="monster" :health="monsterHealth">
            <h2>Monster Health</h2>
        </health-status>

        <health-status id="player" :health="playerHealth">
            <h2>Your Health</h2>
        </health-status>

        <game-over @start-new-game="startNewGame" :winner="winner"></game-over>

        <section id="battle-controls">
            <button @click="attackMonster(false)">ATTACK</button>
            <button
                @click="attackMonster(true)" :disabled="isCurrentRoundNotDivisibleByThree"
            >
                SPECIAL ATTACK
            </button>
            <button 
                @click="healPlayer"
                :disabled="isPlayerHealthFull"
            >
                HEAL
            </button>
            <button @click="surrenderToMonster">SURRENDER</button>
        </section>

        <section id="battle-log">
            <h2>
                Battle Log 
                <i v-if="isBattleLogSortTypeDesc" @click="changeBattleLogSortType" class="fa-solid fa-arrow-down"></i>
                <i v-else @click="changeBattleLogSortType" class="fa-solid fa-arrow-up"></i>
            </h2>
            <ul>
                <li v-for="(entry, index) in battleLog" :key="index">
                    {{entry}}
                </li>
            </ul>
        </section>
    </main>
    <footer></footer>
</body>

</html>